<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BusySoftAPP.My.MySettings.GenderConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Gender.accdb"
            providerName="System.Data.OleDb" />
        <add name="BusySoftAPP.My.MySettings.Ujjwal204Bank" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Ujjwal204;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>